@charset "utf-8";

/* base */
* {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #eee;
}

a {
  color: black;
}

a:hover {
  color: #19a2cf;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

/* button */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  padding-top: 0.5rem;
  padding-right: 0.875rem;
  padding-bottom: 0.5rem;
  padding-left: 0.875rem;
  background-color: #ddd;
  color: #b0aebb;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-active {
  background-color: #19a2cf;
  color: white;
}

.button-active > svg {
  fill: white !important;
}

/* select */
.select {
  display: block;
  padding-top: 0.5rem;
  padding-right: 0.875rem;
  padding-bottom: 0.5rem;
  padding-left: 0.875rem;
  font-weight: 400;
  color: black;
  background-color: #d6d6d6;
  background-clip: padding-box;
  border: none;
}

/* table */
.table {
  margin-bottom: 1rem;
  width: 100%;
  color: black;
  vertical-align: top;
  border-color: lightgray;
}

.table > :not(caption) > * > * {
  padding: 1rem;
  border-bottom-width: 1px;
}

.table > thead {
  color: gray;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 226, 226, 1) 100%
  );
  vertical-align: bottom;
}

.table > tbody {
  vertical-align: inherit;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
}

.table-hover > tbody > tr:hover > * {
  background-color: rgba(0, 0, 0, 0.075);
  color: black;
}

/* layout */
/* ----- */

/* grid system */
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-stretch {
  align-items: stretch;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink {
  flex-shrink: 1 !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

.w-full {
  width: 100%;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .grid-1 {
    grid-template-columns: 1fr;
  }

  .overflow-x-auto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .justify-md-start {
    justify-content: flex-start !important;
  }

  .justify-md-end {
    justify-content: flex-end !important;
  }

  .grid-md-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1238px;
  }
}

/* alignment */
.text-right {
  text-align: right !important;
}

.sticky {
  position: sticky;
  top: 0;
}

/* module */
/* ----- */

/* ad */
.ads {
  width: 300px;
}

.ads > img {
  margin-bottom: 1rem;
  width: 100%;
}

/* badge */
.badge {
  padding-top: 0.25rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-right: 0.5rem;
  background-color: #19a2cf;
  color: white;
  font-size: 1rem;
  text-align: center;
}

/* button group */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}

/* food */
#Foods {
  -webkit-overflow-scrolling: touch;
  white-space: wrap;
}

@media (max-width: 576px) {
  #Foods {
    -webkit-overflow-scrolling: touch;
  }
}

.food {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: left;
}

.food__list {
  width: 100%;
  margin-bottom: 1rem;
}

.food__list > .food__img {
  margin-right: 1.5rem;
}

.food__list > .food__img > img {
  width: 15rem;
  height: auto;
}

.food__list > .food__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.food__list > .food__content > .food__title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 800;
}

.food__list > .food__content > .food__subtitle {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: -1rem;
  left: -301px;
  z-index: 1;
  color: white;
}

.food__list > .food__content > .food__subtitle > .badge {
  flex-shrink: 1;
  margin-bottom: 0.5rem;
}

.food__list > .food__content > .food__subtitle > .food__caption {
  margin-right: 0.5rem;
  color: gray;
  writing-mode: tb-rl;
}

.food__list > .food__content > .food__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: gray;
}

@media (max-width: 576px) {
  .food {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    text-align: left;
  }

  .food__list > .food__img {
    width: 100%;
  }

  .food__list > .food__img > img {
    width: 100% !important;
    height: auto !important;
  }

  .food__list > .food__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .food__list > .food__content > .food__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .food__list > .food__content > .food__subtitle {
    display: flex;
    flex-direction: row;
    position: relative;
    top: unset;
    left: unset;
    color: white;
  }

  .food__list > .food__content > .food__subtitle > .badge {
    margin-right: 0.5rem;
    margin-bottom: 0 !important;
  }

  .food__list > .food__content > .food__subtitle > .food__caption {
    writing-mode: unset !important;
  }

  .food__list > .food__content > .food__description {
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.food__table .food__table--color-gray {
  color: gray !important;
}

.food__grid {
  padding: 0;
  position: relative;
  width: 100%;
  max-height: 220px;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
}

.food__grid > .food__img {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.food__grid > .food__img > img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.food__grid > .food__img::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  opacity: 1;
}

.food__grid:hover > .food__img > img {
  object-fit: cover;
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

.food__grid > .food__content {
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: white;
  transition: all 0.4s ease-in-out;
}

.food__grid > .food__content > .food__title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.food__grid > .food__content > .food__subtitle {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

.food__grid > .food__content > .food__subtitle > .badge {
  flex-shrink: 1;
  margin-right: 0.5rem;
}

.food__grid > .food__content > .food__subtitle > .food__caption {
  font-style: italic;
  font-size: 1rem;
}

.food__grid > .food__content > .food__description {
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.food__grid:hover > .food__content {
  bottom: -1rem;
}

.food__grid:hover > .food__content > .food__description {
  opacity: 1;
}

@media (max-width: 576px) {
  .food__grid {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  .food__grid > .food__content {
    bottom: -3.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* mode switcher */
#Mode-switcher > label {
  color: #b0aebb;
}

#Mode-switcher .button-active {
  background-color: transparent;
}

#Mode-switcher .button-active > svg {
  fill: black !important;
}

/* icon button */
.button-icon {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.button-icon > svg {
  width: 100%;
  max-width: 1rem;
  height: auto;
  fill: gray;
  pointer-events: none;
}

/* loader */
.loader {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.2);
  stroke: white;
}

.loader.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > svg {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.loader > svg > circle {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: load 2.3s infinite;
}

@keyframes load {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -150;
  }
}

@media (max-width: 576px) {
  .page__title {
    font-size: 1.75rem;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination > .button {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  width: 30px;
  height: 30px;
}

@media (max-width: 576px) {
  .pagination > .button-group {
    justify-content: start;
  }

  .pagination > div:first-child {
    display: none;
  }
}
